.avatar {
    display: inline-block;
    vertical-align: bottom;
    margin-right: 15px;
    height: 96px;
    width: 96px;
}

.avatar_caption {
    display: inline;
    width: 50%;
}
.project-name {
    display: inline-block;
}
